ion-card {
    display: flex;
    flex-direction: column;
    height: 95% !important;
    margin-bottom: 5px !important;
}

img {
    border-radius: 5px;
}

p {
    color: #666666;
}

.data-show {
    font-size: 30px;
    font-weight: 600;
}

.progress-indicator {
    float: right;
}

.data-progress-indicator-up {
    font-size: 15px;
    color: var(--ion-color-secondary);
}

.data-progress-indicator-down {
    font-size: 15px;
    color: var(--ion-color-danger);
}

.cynch-logo-top {
    max-width: 150px;
}

.cynch-logo-top-print {
    width: 120px;
}

.card-header-values {
    font-size: 2.5rem;
}

// Tooltip Begin
.tooltip {
    position: relative;
    display: inline-block;
    text-transform: capitalize;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #F2F2F2;
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    font-size: 12px!important;
    line-height: 1.2rem;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
// Tooltip End

ion-icon {
    pointer-events: none;
  }

@media print {
    .printer-icon {
        display: none;
    }
}