ion-card {
    display: flex;
    flex-direction: column;
    height: 95% !important;
    margin-bottom: 5px !important;
}



p{
    color: #292727b9;
    text-align:left;
    border-radius: 6px;
    padding: 5px;
    font-size: 25px;
}

h1{
    color:black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    
}