.dough-graph-heading {
    font-size: 16px;
    font-weight: 600;
}

.partner-details-card h1,.partner-details-card h3{
    font-weight: 600;
}

ion-card {
    display: flex;
    flex-direction: column;
    height: 95% !important;
    margin-bottom: 5px !important;
}

.vertical-align-set {
    vertical-align: middle;
}

.teams-icon {
    font-size: 23px;
    vertical-align: bottom;
}

